<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head charset="ISO-8859-1">
        <title>Greeting Page</title>
    </head>
    <body>
        <h1>This is the Greeting Page!</h1>
        <div>Hello! 
            <span th:if="${isCustomer}"> My honour customer: 
                <span th:text="${name}"></span>
            </span>
            <span th:if="${isAdmin}"> My honour admin: 
                <span th:text="${name}"></span>
            </span>
        </div>
    </body>
</html>