<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head charset="ISO-8859-1">
        <title>Register Page</title>
    </head>
    <body>
        <h1>Welcome. This is the Register page.</h1>
        <div th:if="${register=='unsuccess'}">Your registration is unsuccessful.<br>The username has been taken.</div>
        <form th:action="@{/register}" method="post">
            <label for="username">Username:
                <input type="text" name="username" id="username" placeholder="Username" required autofocus>
            </label>
            <br>
            <label for="email">Email:
                <input type="email" name="email" id="email" placeholder="Email" autofocus>
            </label>
            <br>
            <label for="name">Name:
                <input type="text" name="name" id="name" placeholder="Name" required autofocus>
            </label>
            <br>
            <label for="phone">Phone number:
                <input type="tel" name="phone" id="phone" placeholder="Phone number" autofocus>
            </label>
            <br>
            <label for="password">Password:
                <input type="password" name="password" id="password" placeholder="Password" required autofocus>
            </label>
            <br>
            <input type="submit" value="Register">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
        </form>
    </body>
</html>